@tailwind base;
@tailwind components;
@tailwind utilities;

.caption {
  color: #ffffff84;
  size: 12px;
  font-style: italic;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}
.gridR {
  grid-auto-rows: 1fr;
}
